.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  padding: 12px;
}
.navbar > span {
  font-size: 30px;
}

.items1 {
  display: flex;
  gap: 10px;
}
.items1 > a {
  text-decoration: none;
  font-size: 23px;
  color: white;
}
button {
  display: none;
}

.navbar2 {
  display: none;
}
.items2 > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 23px;
  color: white;
  padding: 20px;
}
@media (max-width: 400px) {
  .items1 > a {
    display: none;
  }
  button {
    display: block;
  }
  .navbar2 {
    display: flex;
    justify-content: center;
    background-color: grey;
    height: 300px;
  }
}
